{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'items/style_index.css' %}">
<div class = "header"> <h1>Kijayjay</h1></div>

<ul class = "menu_items">
  <li class="item"><a class="mylink" href="{% url 'items:index' %}">Home</a></li>
  <li class="item"><a class="mylink" href="{% url 'items:sell_item' %}">Sell</a></li>
  {%if user.is_authenticated %}
  <li class="item" style="float:right"><a class="mylink" href="{% url 'logout' %}">Log out</a></li>
  <li class="item"><a class="mylink" href="{% url 'user:profile' user.profile.id %}">Profile</a></li>
  <li class="item"><a class="mylink" href="{% url 'items:liked_items' %}">Liked items</a></li>
  <li class="item"><a class="mylink" href="{% url 'items:my_items' %}">My items</a></li>
  {%if user.profile.picture%}
   <img class="rounded-circle"  src="{{user.profile.picture.url}}" width="50" height="50">
  {%endif%}

  {% else %}
  <li class="item" style="float:right"><a class="mylink" href="{% url 'login' %}">Login</a></li>
  <li class="item" style="float:right"><a class="mylink" href="{% url 'user:signup' %}">Register</a></li>
  {%endif%}
  
</ul> 

<div id='main-container'>
    <section id='middle_div'>
      {% block content %}

      {% endblock content %}
    </section>
  </div>
<footer>Created by: Keren Rivera Pérez</footer>
</html>