{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'items/style_index.css' %}">
<div class = "header"> <h1>Kijayjay</h1></div>

<ul class = "menu_items">
  <li class="item"><a class="mylink" href="{% url 'items:index' %}">Home</a></li>
  <li class="item"><a class="mylink" href="{% url 'items:sell_item' %}">Sell</a></li>
  {%if user.is_authenticated %}
  <li class="item" style="float:right"><a class="mylink" href="{% url 'logout' %}">Log out</a></li>
  <li class="item" style="float:right">
  <form>
       <input class="item" type="text" style="float:right" placeholder="Search..">
       <button class="item" style="float:right" >Search</button>
   </form>
   </li>
  {% else %}
  <li class="item" style="float:right"><a class="active2" href="{% url 'login' %}">Login</a></li>
  {%endif%}
  
</ul> 
 
<h2>Are you sure you want to buy this item?<h2>
{% block content %}
<section id='item_details'>
<form  action= "buy_items" method="POST">
  {% csrf_token %}
  <h3><b>{{ item.title }}</b></h3>
        <h4><b>Description:</b> {{ object.description }}</h4> 
        <h4><b>Price:</b> {{ object.price }}</h4>
        <h4><b>Location:</b> {{ object.location }}</h4>
  <button type="submit" name="item_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Buy</button>

{% endblock content %}
