{% extends './base.html' %}

{% block content %}
<h2>Items for sell</h2> 
{% csrf_token %}
<div class='search'>
      <form action="{% url 'items:index' %}" method='GET'>
        <section class="sort">
         <input type="search" placeholder="Enter keyword or number" name="search" />
          <label>Filter by:</label>
          <select name='filter_by'>
            <option value="title">Title</option>
            <option value="price">Price</option>
          </select>
          <label>Sort by:</label>
          <select name='sort_by'>
            <option value="titleASC">Title ASC</option>
            <option value="titleDESC">Title DESC</option>
            <option value="priceASC">Price ASC</option>
            <option value="priceDESC">Price DESC</option>
          </select>

          <button type="submit" name="button" class="btt_link" id="search_button">Search</button>
        </section>
      </form>
    </div>

{% if object_list %}
<ul>
{% for item in object_list %}
<li><a href="{% url 'items:item_details' item.id %}">{{ item.title }} {{ item.price }} $</a></li>
{% endfor %}
</ul>

<div class="pagination">
<section class="sort">
    {% if page_obj.has_previous %}
    <button type="button" name="button"><a class="button_link" href="?page=1&{{params}}">« First</a></button>
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.previous_page_number }}&{{params}}">Previous</a></button>
    {% endif %}
     <p >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</p>
    {% if page_obj.has_next %}
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.next_page_number }}&{{params}}">Next</a></button>
    <button type="button" name="button"><a class="button_link" href="?page=2&{{params}}">Last » </a></button>
    {% endif %}
    </section>
</div>

{% else %}
<p>No items are available.</p>
{% endif %}
{% endblock %}


<footer>Created by: Keren Rivera Pérez</footer>