{% extends './base.html' %}
{% block content %}
{% block title %} <h2>{{title}} </h2>{% endblock %}

        <h3><b>{{ object.title }}</b></h3>
        <h4><b>Description:</b> {{ object.description }}</h4> 
       
        <h4><b>Price:</b> {{ object.price }}</h4>
        {%if object.images %}
        <h4><b>Images:</b> <img src="{{ object.images.url }}" width="150" height="150"></h4>
        {%endif%}
        <h4><b>Total likes:</b> {{ object.likes }}</h4>
        <h4><b>Seller:</b> {{ object.user.username }}</h4>
<section class="sort">
<form action="{% url 'items:like_items' object.id %}" method="POST">
{% csrf_token %}
  <button type="submit" name="item_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Like</button>
  
</form>
<form action="{% url 'items:buy_item' object.id %}" method="POST">
{% csrf_token %}
  <button type="submit" name="item_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Buy now!</button>
</form>
</section>

<form action="{% url 'items:buy_item' object.id %}" method="POST">
{% csrf_token %}
  <button type="submit" name="item_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Comment</button>
</form>
{% endblock content %}
