{% extends './base.html' %}
{% block content %}

{% block title %}<h2>{{title}}</h2>{% endblock %}

{% if object_list %}
<ul>
{% for item in object_list %}

<li><a href="{% url 'items:item_details' item.item.id %}">{{ item.item.title }} {{ item.item.price }} $</a></li>
{% endfor %}
</ul>

{% else %}
<p>Give some likes to fill the big empty</p>
{% endif %}

{% endblock content %}


<footer>Created by: Keren Rivera Pérez</footer>