{% extends './base.html' %}
{% block content %}

{% block title %}<h2>{{title}}</h2>{% endblock %}

{% if object_list %}
<ul>
{% for item in object_list %}
<li><a href="{% url 'items:item_details' item.id %}">{{ item.title }} {{ item.price }} $</a></li>
<button type="button" name="button" style="background:red; margin-left: 10px"><a class="button_link" >Delete</a></button>
{% endfor %}
</ul>
<div class="pagination">
  <span>
    {% if page_obj.has_previous %}
    <button type="button" name="button"><a class="button_link" href="?page=1&{{params}}">« First</a></button>
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.previous_page_number }}&{{params}}">Previous</a></button>
    {% endif %}

    <span class="current">
      <p style="font-family:emoji; font-size: 20px">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</p>
    </span>
    {% if page_obj.has_next %}
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.next_page_number }}&{{params}}">Next</a></button>
    <button type="button" name="button"><a class="button_link" href="?page=2&{{params}}">Last » </a></button>
    {% endif %}
</div>
{% else %}
<p>Sell some items to fill the big empty</p>
{% endif %}

{% endblock content %}


<footer>Created by: Keren Rivera Pérez</footer>