{% extends './base.html' %}

{% block content %}
<h2>Sell item<h2>
<form action= "sell_item" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <p>
    {{ field.label_tag}} <br>
    {{ field }}</p>
    {% endfor%}
    
    <button type="submit">Post</button>
</form>
{% endblock content%}
