/*SEARCH BAR CSS */


/*CSS for UL html element*/
.menu_items{
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

/* li element position*/
.item {
  float: left;
}

.item .mylink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
   /*border-right: 1px solid #bbb;*/
}

.item .mylink:hover {
  background-color: #111;
}

/*.active2 {
  background-color: #4CAF50;
}*/

/*Header with app title*/
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
/*HTML body background color*/
body{
background: #bbeae1;
}

