{% extends 'items/base.html' %}

{% block content %}
<h2>Access all content in Kijayjay today!</h2>
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
    {{ field.label_tag}} <br>
    {{ field }}
    {% if field.help_text%}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
     <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor%}
    <button type="submit">Log In</button>
</form>
<p>Don't have an account? Join Kijayjay here: <a href="{% url 'user:signup' %}">Register</a></p>
{% endblock %}


