{% extends 'items/base.html' %}

{% block content %}
<section class="">
<h3> You are logged out</h3>
    <p>Login again? <a href = "{% url 'login' %}">Login again </a></p>
    <p>No account? <a href = "{% url 'user:signup' %}">register</a></p>
</section>
 {% endblock content %}
