{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'items/style_index.css' %}">
<div class = "header"> <h1>Kijayjay</h1></div>

<ul class = "menu_items">
  <li class="item"><a class="mylink" href="{% url 'items:index' %}">Home</a></li>
  <li class="item"><a class="mylink" href="{% url 'items:sell_item' %}">Sell</a></li>
  {%if user.is_authenticated %}
  <li class="item" style="float:right"><a class="mylink" href="{% url 'logout' %}">Log out</a></li>
  <li class="item" style="float:right">
  <form>
       <input class="item" type="text" style="float:right" placeholder="Search..">
       <button class="item" style="float:right" >Search</button>
   </form>
   </li>
  {%endif%}
</ul> 
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
    {{ field.label_tag}} <br>
    {{ field }}
    {% if field.help_text%}
    <small style="color: grey">{{ field.help_text }}</
    {% endif %}
    {% for error in field.errors %}
     <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor%}
    <button type="submit">Post</button>
</form>