{% extends 'items/base.html' %}

{% block content %}
<section id='profile'>
        <h3><b>Welcome, {{ object.user.username }}</b></h3>
    
        <h3> Account Information:</h3>
        {%if object.user.first_name is None %}
        <h4><b>Full name:</b> N/A </h4>
        {% else %}
        <h4><b>Full name:</b> {{ object.user.first_name }} {{ object.user.last_name }} </h4>
        {%endif%}
        {%if object.birth_date is None %}
        <h4><b>Birth date:</b> N/A </h4>
        {% else %}
          <h4><b>Birth date:</b>{{ object.birth_date }}</h4>
        {%endif%}
        <h4><b>Money available:</b> {{ object.money_available }}</h4>
      </section>
<a class="mylink" href="{% url 'user:update_profile' user.id %}">Update profile</a>
{% endblock content %}
