{% extends 'items/base.html' %}

{% block content %}
<h2>Sign up Form</h2>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock content %}